* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, red, blue);
    color: white;
    font-family: Rubik;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-fraction {
    margin: 0 1rem;
}

.header-num {
    background: #ffba75;
    background-clip: text;
    color: transparent;
}

.header-denom {
    background: #82b1ff;
    background-clip: text;
    color: transparent;
}

.header-line {
    width: 100%;
    height: 2px;
    background: white;
}

.header-word {
    margin: 0 0.5rem;
}

.header-word-fancy {
    color: transparent;
    background: linear-gradient(to right, rgb(146, 255, 193), rgb(97, 219, 150));
    background-clip: text;
    position: relative;
    cursor: default;
}

.header-word-fancy::before {
    position: absolute;
    width: 50%;
    height: 2px;
    background: linear-gradient(to right, rgb(146, 255, 193), rgb(97, 219, 150));
    content: '';
    left: 50%;
    translate: -50% 0;
    bottom: 0;
    transition: all 150ms ease-in-out;
}

.header-word-fancy:hover::before {
    width: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% + 1rem);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.fraction input[type='number'] {
    font-size: 3rem;
    width: 100%;
    padding: 0.4rem 0;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    font-family: Rubik;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numerator,
.denominator {
    width: calc(100% - 5px);
    border-radius: 0.5rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.fraction-initial {
    width: 12rem;
}

.fraction-final {
    --letter: 1;
    transition: all 300ms ease-in-out;
    width: calc(var(--letter) * 2rem);
}

.line {
    height: 2px;
    width: 100%;
    background-color: white;
}

.fraction-incomplete > .numerator:has(input:placeholder-shown) {
    margin-bottom: 0.7rem;
    outline: 1px solid white;
}

.fraction-incomplete > .denominator:has(input:placeholder-shown) {
    margin-top: 0.7rem;
    outline: 1px solid white;
}

.fraction-complete > .numerator,
.fraction-incomplete > .numerator:not(:has(input:placeholder-shown)) {
    margin-bottom: 0;
}

.fraction-complete > .denominator,
.fraction-incomplete > .denominator:not(:has(input:placeholder-shown)) {
    margin-top: 0;
}

.arrow {
    font-size: 2rem;
    user-select: none;
}

.go {
    font-size: 30px;
    font-family: Rubik;
    padding: 0.7rem 1.4rem;
    color: white;
    background: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 0.7rem;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.go:hover {
    scale: 1.1;
}